main {
    display: flex;
    flex-direction: column;

    .upContainer {
        display: flex;

        height: 300px;
        background-color: red;

        .buttonsContainer {
            display: flex;
            flex-direction: column;
        }
    }
}